<script setup lang="ts">
import HeaderBar from "./components/shared/HeaderBar.vue";
</script>

<template>
  <div>
    <header-bar></header-bar>

    <router-view></router-view>

    <post-success></post-success>

    <error-message></error-message>
  </div>
</template>
