<script setup lang="ts">
import { computed } from "vue";
import { useErrorStore } from "../../stores/error";
import { storeToRefs } from "pinia";
import { useI18n } from "vue-i18n";

const { t } = useI18n();

const errorStore = useErrorStore();
const { isError, errorMessageKey, placeholders } = storeToRefs(errorStore);

const message = computed(() => {
  if (placeholders.value.length === 0) {
    return t(errorMessageKey.value);
  }
  return t(errorMessageKey.value, placeholders.value);
});
</script>

<template>
  <div class="dialog message-dialog" id="error-dialog" v-if="isError">
    <div class="dialog-title">
      {{ $t("error.title") }}
    </div>

    <div id="error-section" class="section">
      <img id="error-img" src="../../assets/error.png" alt="" />
      <span id="error-message">{{ message }}</span>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

#error-dialog {
  bottom: 50px;
  color: $error-color;
  border: 2px solid $error-color;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

#error-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#error-img {
  height: 50px;
  width: 50px;
  opacity: 0.9;
}

#error-message {
  font-size: 16px;
  margin-left: 10px;
}
</style>
