<script setup lang="ts">
import { onMounted, watch } from "vue";
import { storeToRefs } from "pinia";
import { ref } from "vue";
import { osmUrl } from "../../config/config.js";
import { useAuthStore } from "../../stores/auth.js";
import { useUpdateStore } from "../../stores/update.js";
import LanguageDropDown from "./LanguageDropDown.vue";

const expandMenu = ref(false);
const authStore = useAuthStore();
const updateStore = useUpdateStore();

const { user, isLoggedIn } = storeToRefs(authStore);
const { authenticate, logout, initAuth } = authStore;
const { showWatchList } = storeToRefs(updateStore);
const { loadUpdates } = updateStore;

// Ensure watchlist is updated when loading the page while already logged in
onMounted(async () => {
  await initAuth();
  if (isLoggedIn.value) {
    loadUpdates(user.value.id, user.value.name);
  }});

// Ensure watchlist is updated when logging in after loading the page
watch(isLoggedIn, (value) => {
  if (value) {
    loadUpdates(user.value.id, user.value.name);
  }
});

function gotoMessages() {
  if (isLoggedIn.value) {
    window.open(`${osmUrl}/messages/inbox`, "_blank");
  }
}
function toggleWatchList() {
  showWatchList.value = !showWatchList.value;
  expandMenu.value = false;
}
</script>

<template>
  <div class="header">
    <div class="title">
      <a>
        <router-link to="/"> OSMyBiz </router-link>
      </a>
    </div>

    <div class="collapse" @click="expandMenu = !expandMenu">
      <font-awesome-icon icon="bars" class="fa-xl" />
    </div>

    <div class="buttons" :class="{ expanded: expandMenu }">
      <div class="about">
        <a
          href="http://wiki.openstreetmap.org/wiki/OSMyBiz"
          class="external-link"
          target="_blank"
        >
          {{ $t("header.about") }}
          <font-awesome-icon class="link-icon" icon="external-link" />
        </a>
      </div>
      <language-drop-down></language-drop-down>
      <div v-if="isLoggedIn" class="user" :title="`${$t('header.userLong')} ${user.name}`">
        <span class="headerDescription">{{$t("header.user") + " "}}</span><span>{{ user.name }}</span>
      </div>

      <div
        class="clickable"
        v-if="isLoggedIn"
        @click="gotoMessages()"
        :title="$t('header.messagetitle')"
      >
        <font-awesome-icon icon="envelope" />
        <span class="unread" v-if="user.unReadCount > 0">{{
          user.unReadCount
        }}</span>
        <span class="headerDescription">{{$t('header.messageshort')}}</span>
      </div>

      <div
        class="clickable"
        v-if="isLoggedIn"
        @click="toggleWatchList()"
        :title="$t('header.watchlisttitle')"
      >
        <font-awesome-icon icon="eye" />
        <span class="headerDescription">{{$t('header.watchlisttitle')}}</span>
      </div>

      <button class="clickable" v-if="!isLoggedIn" @click="authenticate()">Login</button>
      <button class="clickable" v-if="isLoggedIn" @click="logout()">Logout</button>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.header {
  position: fixed;
  margin: auto;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 2px solid $primary-color;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
  color: $primary-color;
}

.buttons {
  display: none;
  flex-direction: row;
  margin: 0 15px;
  align-items: center;
}

.about {
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
}

.about a,
.title a {
  color: $primary-color;
  text-decoration: none;
}

.unread {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 1px 4px;
  font-size: 12px;
  position: absolute;
  height: 14px;
  line-height: 11px;
  border-radius: 7px;
  width: 14px;
  top: -4px;
  right: 10px;
}

#locale-select {
  padding: 5px;
}

button {
  margin: 8px 0 10px 10px;
}

.collapse {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .expanded {
  display: grid;
  position: absolute;
  top: 52px;
  width: 100%;
  background: white;
  margin: 0;
  padding: 24px;
  > * {
    margin-bottom: 10px;
    margin-left: 0;
    align-self: center;
    width: calc(100vw - 48px)
  }
}
}

@media screen and (min-width: 750px) {
  .headerDescription {
    display: none;
  }
  
  .collapse {
  display: none;
  }

  .buttons {
    display: flex !important;
    position: auto;
    align-items: baseline;
    > * {
      margin: 5px 5px;
    }
  }
}
</style>
