<script setup lang="ts">
import { useLocaleStore } from "../../stores/locale";
import { useCookies } from "vue3-cookies";
import { onMounted } from "vue";

const SUPPORTEDLANGUAGESOPTIONS = [
  { label: "Deutsch", value: "de" },
  { label: "English", value: "en" },
  { label: "اَلْعَرَبِيَّةُ", value: "ar" }, // Name for arabic according to wikipedia
  { label: "Català", value: "ca" }, // Name according to wikipedia
  { label: "Čeština", value: "cs" }, // Name according to wikipedia
  { label: "Español", value: "es"},
  { label: "فارسی", value: "fa"}, // what seems to be the name according to wikipedia
  { label: "Français", value: "fr" },
  { label: "Galician", value: "gl" },
  { label: "עברית", value: "he" },
  { label: "Magyar", value: "hu" },
  { label: "Íslenska ", value: "is"}, // Name according to wikipedia
  { label: "Italiano", value: "it" },
  { label: "Nederlands", value: "nl" },
  { label: "Polski", value: "pl" },
  { label: "русский", value: "ru" },
  { label: "Svenska", value: "sv" },
  { label: "Ukrainian", value: "uk" },
  { label: "汉语", value: "zh_TW" },
];

const { cookies } = useCookies();
const localeStore = useLocaleStore();
const { setTags } = localeStore;

const langs = SUPPORTEDLANGUAGESOPTIONS;

onMounted(() => {
  if (cookies.get("language")) {
    setTags(cookies.get("language"));
    //this.$i18n.locale = this.$cookies.get("language");
  } else {
    setBrowserLanguageIfSupported();
  }
});

function saveLocaleAsCookie(e: any) {
  setTags(e.target.value);
  cookies.set("language", e.target.value, "30d");
}
function setBrowserLanguageIfSupported() {
  const browserLanguagesList = getBrowserLanguages();
  const supportedLanguagesList = getSupportedLanguages();
  for (let i = 0; i < browserLanguagesList.length; i += 1) {
    const browserLanguage = browserLanguagesList[i];
    if (supportedLanguagesList.indexOf(browserLanguage) >= 0) {
      setTags(browserLanguage);
      // context.$i18n.locale = browserLanguage;
    }
  }
}
function getBrowserLanguages() {
  const browserLanguages = window.navigator.languages || [
    window.navigator.language, //|| window.navigator.userLanguage,
  ];
  const browserLanguagesList = [];
  for (let i = 0; i < browserLanguages.length; i += 1) {
    browserLanguagesList.push(browserLanguages[i].replace("-", "_"));
    if (browserLanguages[i].length > 2) {
      browserLanguagesList.push(browserLanguages[i].slice(0, 2));
    }
  }
  return browserLanguagesList;
}
function getSupportedLanguages() {
  const supportedLanguagesList = [];
  for (let i = 0; i < SUPPORTEDLANGUAGESOPTIONS.length; i += 1) {
    supportedLanguagesList.push(SUPPORTEDLANGUAGESOPTIONS[i].value);
  }
  return supportedLanguagesList;
}
</script>

<template>
  <select id="locale-select" @click="saveLocaleAsCookie" v-model="$i18n.locale">
    <option v-for="lang in langs" :value="lang.value" :key="lang.value">
      {{ lang.label }}
    </option>
  </select>
</template>
