<script setup lang="ts">
import DetailForm from "../components/detail/DetailForm.vue";
import AddressFields from "../components/detail/AddressFields.vue";
import CategoryField from "../components/detail/CategoryField.vue";
import FormPopup from "../components/detail/FormPopup.vue";
import ExtraInfoFields from "../components/detail/ExtraInfoFields.vue";
import FormFooter from "../components/detail/FormFooter.vue";
import DuplicateWarning from "../components/landing/DuplicateWarning.vue";
import ConfirmWarning from "../components/detail/ConfirmWarning.vue";
import {storeToRefs} from "pinia";
import { useDetailStore } from "../stores/detail";
const detailStore = useDetailStore();
const {currentBPOI, isPopup} = storeToRefs(detailStore);

</script>

<template>
  <div class="detail-wrapper">
    <div class="detailcontent-wrapper">
      <div class="content-wrapper">
        <h2 v-show="currentBPOI.isNew">{{ $t("detail.titles.create") }}</h2>
        <h2 v-show="!currentBPOI.isNew">{{ $t("detail.titles.edit") }}</h2>

        <category-field></category-field>
        <address-fields></address-fields>
        <detail-form></detail-form>
        <extra-info-fields></extra-info-fields>
      </div>

      <duplicate-warning></duplicate-warning>
      <confirm-warning></confirm-warning>
      <form-popup v-show="isPopup"></form-popup>
    </div>
    <form-footer></form-footer>
  </div>
</template>

<style lang="scss" scoped>
h2 {
  text-align: left;
}

.detailcontent-wrapper {
  margin: auto;
  max-width: 1000px;
}

.content-wrapper {
  margin-top: 70px;
  margin-bottom: 60px;
}

img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
</style>
