<script setup lang="ts">
import { useLandingStore } from "../../stores/landing";
import { onMounted } from "vue";
import { storeToRefs } from "pinia";

const landingStore = useLandingStore();
const { showHelp } = storeToRefs(landingStore);

onMounted(() => {
  showHelp.value = true;
});

function toggleHelpDialog(): void {
  showHelp.value = !showHelp.value;
  localStorage.setItem("showHelp", JSON.stringify(showHelp.value));
}
</script>

<template>
  <div>
    <div class="help-dialog-icon">
      <button @click="toggleHelpDialog()" id="help-button">
        <font-awesome-icon :icon="['fa', 'question-circle']" class="fa-lg"/>
      </button>
    </div>

    <div class="dialog" id="help-dialog" v-if="showHelp">
      <div class="close-button" @click="toggleHelpDialog()">
        <font-awesome-icon :icon="['fa', 'window-close']" class="fa-xl"/>
      </div>

      <div class="dialog-title">{{ $t("landing.help.title") }}</div>

      <div class="section">
        {{ $t("landing.help.section1") }}
      </div>

      <div class="section">
        {{ $t("landing.help.section2") }}
      </div>

      <div class="section">
        {{ $t("landing.help.section3") }}
      </div>
    </div>
  </div>
</template>

<style scoped>
.help-dialog-icon {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  left: 20px;
}

#help-dialog {
  bottom: 50px;
  left: 100px;
  border-radius: 5px;
  max-width: 300px;
  max-height: 450px;
  box-shadow: 0 0 2px 2px grey;
}

#help-button {
  box-shadow: 0 0 2px 2px grey;
  margin: 0;
}
</style>
