<script setup lang="ts">
import { osmUrl } from "../../config/config.js";
import { useAuthStore } from "../../stores/auth.js";
import { useLandingStore } from "../../stores/landing.js";
import { onMounted } from "vue";
import { storeToRefs } from "pinia";

const landingStore = useLandingStore();
const authStore = useAuthStore();

const { showLoginHelp } = storeToRefs(landingStore);
const { isLoggedIn } = storeToRefs(authStore);

onMounted(() => {
  showLoginHelp.value = true;
});

function toggle(): void {
  showLoginHelp.value = false;
  localStorage.setItem("showLoginHelp", JSON.stringify(showLoginHelp.value));
}
function navigateToOSM(): void {
  window.open(osmUrl);
}
</script>

<template>
  <div>
    <div class="dialog" id="login-dialog" v-if="showLoginHelp && !isLoggedIn">
      <div class="close-button" @click="toggle">
        <font-awesome-icon :icon="['fa', 'window-close']" class="fa-xl"/>
      </div>

      <div class="dialog-title">
        {{ $t("landing.loginhelp.title") }}
      </div>

      <div class="section">
        {{ $t("landing.loginhelp.section1") }}
      </div>
      <div class="section">
        {{ $t("landing.loginhelp.osmlinktext") }}
      </div>
      <div class="registerbutton">
        <button class="buttoncentered" @click="navigateToOSM()">
          OpenStreetMap
        </button>
      </div>
      <div class="section">
        {{ $t("landing.loginhelp.section2") }}
      </div>
    </div>
  </div>
</template>

<style scoped>
#login-dialog {
  top: 55px;
  right: 24px;
  border-radius: 5px;
  max-width: 300px;
  max-height: 450px;
}

.registerbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttoncentered {
  margin: 4px 10px 10px 10px;
}
</style>
