<script setup lang="ts">
import { useUserdialogStore } from "../../stores/userdialog";
import { storeToRefs } from "pinia";

const userdialogStore = useUserdialogStore();
const { successMessage } = storeToRefs(userdialogStore);
const { clearSuccessMessage } = userdialogStore;

function hideMessage() {
  clearSuccessMessage();
}
</script>

<template>
  <div class="dialog message-dialog" id="success-dialog" v-if="successMessage.address">
    <div class="close-button" @click="hideMessage">
      <font-awesome-icon :icon="['fa', 'window-close']" class="fa-xl"/>
    </div>

    <div class="node-success">
      <div class="dialog-title">
        {{ $t("success.title") }}
      </div>
      <div class="section" v-if="successMessage.link">
        <a :href="successMessage.link" class="external-link" target="_blank">
          {{ $t("success.link") }}
          <font-awesome-icon
            class="link-icon"
            :icon="['fa', 'external-link']"
          />
        </a>
      </div>

      <div class="section">
        {{ $t("success.address") }}:
        {{ successMessage.address }}
      </div>

      <div class="section">
        {{ $t("success.name") }}:
        {{ successMessage.name }}
      </div>
    </div>
  </div>
</template>

<style scoped>
#success-dialog {
  bottom: 65px;
  border: 2px solid #7ebc6f;
  padding: 12px;
  font-size: 16px;
}
</style>
