<script setup lang="ts">
import { useLandingStore } from "../../stores/landing";
import { storeToRefs } from "pinia";
import * as _ from "lodash";
import { latLng } from "leaflet";
import type { Suggestion } from "../../types/types";

const landingStore = useLandingStore();
const { mapCenter, suggestions, search } = storeToRefs(landingStore);
const { resetSearch, queryNominatim } = landingStore;
const queryMinLength = 3;

function pick(suggestion: Suggestion) {
  mapCenter.value = latLng(suggestion.coords.lat, suggestion.coords.lng);
  resetSearch();
}

function searchPlace() {
  if (search.value.length < queryMinLength || !_.isString(search.value)) {
    suggestions.value = [];
    return;
  }
  // todo use current locale instead of fixed value
  queryNominatim(search.value, "en");
}
</script>

<template>
  <div class="search-bar-wrapper">
    <div class="input-wrapper">
      <input
        type="text"
        class="search-bar"
        :placeholder="$t('landing.search')"
        v-model="search"
        @keypress="searchPlace"
      />
      <div v-if="search && search.length" class="remove" @click="resetSearch">
        x
      </div>
    </div>

    <div class="suggestion-list" v-if="suggestions.length">
      <div
        v-for="sug in suggestions"
        :key="sug.address.street"
        class="suggestion"
        @click="pick(sug)"
      >
        <div class="main-text">
          <span v-if="sug.address.street"> {{ sug.address.street }}, </span>
          <span v-if="sug.address.housenumber">
            {{ sug.address.housenumber }},
          </span>
          {{ sug.address.postcode }}
          {{ sug.address.city }}
        </div>

        <div class="sub-text">{{ sug.address.country }}</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.search-bar-wrapper {
  position: fixed;
  height: 50px;
  right: 0px;
  left: 0px;
  z-index: 99;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.search-bar {
  font-size: 22px;
  border: none !important;
  outline: none !important;
  width: 450px;
  height: 50px;
  padding: 10px 25px !important;
  pointer-events: all;
}

.remove {
  width: 20px;
  font-size: 20px;
  cursor: pointer;
  pointer-events: all;
}

.input-wrapper {
  width: 450px;
  max-width: calc(100% - 44px);
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: 2px solid $primary-color;
}

.suggestion-list {
  font-size: 12px;
  position: fixed;
  width: 450px;
  max-width: calc(100% - 44px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  top: 110px;
  border: 2px solid $primary-color;
  border-top: none;
  pointer-events: all;
}

.suggestion {
  background-color: white;
  height: 50px;
  width: 100%;
  padding: 10px 25px;
  text-align: left;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.suggestion:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.main-text {
  font-size: 18px;
  flex-grow: 1;
}

.sub-text {
  text-align: right;
  color: grey;
  flex-grow: 1;
}
</style>
