<script setup lang="ts">
import { storeToRefs } from "pinia";
import { ref, onMounted, computed, onBeforeMount } from "vue";
import type { Ref } from "vue";
import { LTileLayer, LMap, LControlAttribution } from "@vue-leaflet/vue-leaflet";
import _ from "lodash";
import {
  initialPosition,
  mapBoxToken,
  initialZoom,
} from "../../config/config.js";
import { routes } from "../../router/index.js";
import { useLandingStore } from "../../stores/landing";
import { useUpdateStore } from "../../stores/update";
import { useBPOIStore } from "../../stores/bpoi-store";
import { useRoute, useRouter } from "vue-router";
import { saveCoordsZoomIntoLocalStorage, getCoordsZoomFromLocalStorage } from "../../util/positionUtil.js";
import type { OverpassElement, LeafletMap, SubscribedPOI } from "../../types/types.js";
import { latLng } from "leaflet";

const landingStore = useLandingStore();
const updateStore = useUpdateStore();
const bpoiStore = useBPOIStore();
const route = useRoute();
const router = useRouter();

const mapRef: Ref<LeafletMap | null> = ref(null);
const { mapZoom, mapCenter, mode, map, viewPort, bounds } =
  storeToRefs(landingStore);
const { overpassElements } = storeToRefs(bpoiStore);
const { queryOverpass } = bpoiStore;

const { subscribedBusinessPOIs } = storeToRefs(updateStore);
const isNewBusiness = ref(false);
const newBusiness: Ref<{ lat: number; lng: number } | {}> = ref({});

const osmLayer = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors,  <a target="_blank" href="https://opendatacommons.org/licenses/odbl/1-0/">ODbl</a>',
};

const mapBoxLayer = {
  url: `https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg70?access_token=${mapBoxToken}`,
  attribution:
    '<a href="https://www.digitalglobe.com/" target="_blank">DigitalGlobe</a>, <a href="https://www.mapbox.com/about/maps/" target="_blank">Mapbox</a> | <a class="mapbox-improve-map" href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a>',
  token: mapBoxToken,
};

const maxBounds = [
  [-89.98155760646617, -180],
  [89.99346179538875, 180],
];
const tileLayerZoomSettings = { maxNativeZoom: 19, maxZoom: 19 };

onBeforeMount( () => {
  
  if (route.params.zoom && route.params.lat && route.params.lng) {
    let latlng = latLng(Number(route.params.lat), Number(route.params.lng))
    mapCenter.value = latlng
    map.value.center = latlng
    mapZoom.value = Number(route.params.zoom)
  } else {
    let coordsAndZoom = getCoordsZoomFromLocalStorage()
    if (coordsAndZoom !== undefined) {
      let latlng = latLng(coordsAndZoom.coords.lat, coordsAndZoom.coords.lng)
      mapCenter.value = latlng
      map.value.center = latlng
      mapZoom.value = coordsAndZoom.zoom
    } else {
      map.value.center = initialPosition
      mapCenter.value = initialPosition
      mapZoom.value = initialZoom
    }
  }
})

onMounted(async () => {
  // maybe instead of just default option, try to get the last known position, aka localstorage
  router.replace({
    name: routes.Landing,
    params: {
      zoom: mapZoom.value,
      lat: mapCenter.value.lat,
      lng: mapCenter.value.lng,
    },
  });
});

const allBusinesses = computed(() => {
  let mine: any = [];
  if (viewPort.value) {
    mine = getSubscribedBusinessPOIsInViewPort();
  }
  return _.unionBy(
    mine,
    overpassElements.value as Array<OverpassElement>,
    (b) => b.id
  );
});

const isDetailPage = computed(() => {
  return route.name === routes.Detail;
});

function getSubscribedBusinessPOIsInViewPort(): Array<any> {
  const bbox = viewPort.value.boundingBox;
  return subscribedBusinessPOIs.value.filter(
    (n: SubscribedPOI) =>
      n.lat >= bbox.south &&
      n.lat <= bbox.north &&
      n.lng >= bbox.west &&
      n.lng <= bbox.east
  );
}
function createNewBusiness(clickEvent: any): void {
  if (!clickEvent.latlng || clickEvent.latlng == newBusiness.value) {
    // it's the same position
    return;
  }
  isNewBusiness.value = true;
  newBusiness.value = {
    lat: clickEvent.latlng.lat,
    lng: clickEvent.latlng.lng,
  };
}

function centerUpdate(coords: { lat: number; lng: number }) {
  map.value.center.lat = coords.lat;
  map.value.center.lng = coords.lng;

  /* in previous implementation, rounding was used... needed?
  const lat = coords.lat.toFixed(LatLngRoundingAccuracy);
  const lng = coords.lng.toFixed(LatLngRoundingAccuracy);
  */

  router.replace({
    name: routes.Landing,
    params: { zoom: mapZoom.value, lat: coords.lat, lng: coords.lng },
  });
}
function boundsUpdate(updatedBounds: {
  _northEast: { lat: number; lng: number };
  _southWest: { lat: number; lng: number };
}) {
  if (isDetailPage.value) {
    return;
  }
  // map.value.bounds = [updatedBounds._northEast,updatedBounds._southWest]
  viewPort.value.boundingBox = {
    south: updatedBounds._southWest.lat,
    east: updatedBounds._northEast.lng,
    west: updatedBounds._southWest.lng,
    north: updatedBounds._northEast.lat,
  };
  viewPort.value.zoom = mapZoom.value;

  // update business by making overpass query based on the leaflet bounds
  // figure out a way not to over-query overpass and cause errors
  queryOverpass(viewPort.value.boundingBox, viewPort.value.zoom);
  saveCoordsZoomIntoLocalStorage(map.value.center, mapZoom.value);
}

function zoomUpdate(updatedZoom: number) {
  mapZoom.value = updatedZoom;
  router.replace({
    name: routes.Landing,
    params: {
      zoom: updatedZoom,
      lat: map.value.center.lat,
      lng: map.value.center.lng,
    },
  });
}

function onMapReady(){

  // The inital bounds aren't sent as changes, so we need to manually trigger this to cause the bubbles to load if necessary
  boundsUpdate(mapRef.value?.leafletObject.getBounds());
}
</script>

<template>
  <div class="map-wrapper">
    <l-map
      ref="mapRef"
      class="map"
      :options="{attributionControl: false}"
      :zoom="mapZoom"
      :min-zoom="3"
      :max-zoom="19"
      :max-bounds="maxBounds"
      :bouds="bounds"
      :center="mapCenter"
      :max-bounds-viscosity="1"
      @click.right="createNewBusiness"
      @update:center="centerUpdate"
      @update:bounds="boundsUpdate"
      @update:zoom="zoomUpdate"
      @ready="onMapReady"
    >
      <l-tile-layer
        layer-type="base"
        name="OpenStreetMap"
        :url="osmLayer.url"
        :attribution="osmLayer.attribution"
        :visible="mode === 'vector'"
        :options="tileLayerZoomSettings"
      ></l-tile-layer>
      <l-tile-layer
        layer-type="base"
        :url="mapBoxLayer.url"
        :attribution="mapBoxLayer.attribution"
        :token="mapBoxLayer.token"
        :visible="mode === 'satellite'"
        :options="tileLayerZoomSettings"
      ></l-tile-layer>
      <l-control-attribution position="bottomright" prefix=""></l-control-attribution>

      <v-business-marker-popup
        v-for="business in allBusinesses"
        :key="business.id"
        :business="business"
      ></v-business-marker-popup>

      <v-business-marker-popup
        v-if="isNewBusiness"
        :business="newBusiness"
      ></v-business-marker-popup>
    </l-map>
  </div>
</template>

<style scoped lang="scss">
.map-wrapper {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.map {
  height: 100%;
  width: 100%;
}

</style>
<style lang="scss">

@media screen and (max-width: 750px) {
  .leaflet-top {
    top: 60px;
  }
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 0 2px 2px grey !important;
  margin-left: 20px !important;
  margin-top: 20px !important;

}

</style>
