<script setup lang="ts">
import { storeToRefs } from "pinia";
import { computed } from "vue";
import { useLandingStore } from "../../stores/landing";

const landingStore = useLandingStore();
const { mode } = storeToRefs(landingStore);

function setSatellite(): void {
  mode.value = "satellite";
}
function setVector(): void {
  mode.value = "vector";
}

const isSatellite = computed(() => {
  return mode.value === "satellite";
});

const isVector = computed(() => {
  return mode.value === "vector";
});
</script>

<template>
  <div class="toggle-wrapper">
    <button @click="setSatellite()" v-if="isVector" id="toggle-button">
      {{ $t("landing.satelite") }}
    </button>
    <button @click="setVector()" v-if="isSatellite" id="toggle-button">
      {{ $t("landing.map") }}
    </button>
  </div>
</template>

<style scoped>
.toggle-wrapper {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#toggle-button {
  box-shadow: 0 0 2px 2px grey;
  margin: 0;
}
</style>
