<script setup lang="ts">
import { LatLng, latLng } from "leaflet";
import { useAuthStore } from "../../stores/auth";
import { useUpdateStore } from "../../stores/update";
import { useLandingStore } from "../../stores/landing";
import { useDetailStore } from "../../stores/detail";
import { storeToRefs } from "pinia";
import type { SubscribedPOI } from "../../types/types";

import noteGreen from "../../assets/note-green.png";
import note from "../../assets/note.png";
import updateGreen from "../../assets/update-green.png";
import update from "../../assets/update.png";

import { useI18n } from "vue-i18n";
const { t } = useI18n();

const authStore = useAuthStore();
const updateStore = useUpdateStore();
const landingStore = useLandingStore();
const detailStore = useDetailStore();

const { subscribedBusinessPOIs, showWatchList } = storeToRefs(updateStore);
const { removeFromWatchList, loadUpdates } = updateStore;
const { mapCenter, mapZoom, openPopUpForId } = storeToRefs(landingStore);
const { user } = storeToRefs(authStore);
const { showPopup, hidePopup } = detailStore;

async function setZoom(value: number) {
  mapZoom.value = value;
}

async function setCenter(coords: LatLng) {
  mapCenter.value = coords;
}

async function panToMarker(subscribedBusinessPOI: SubscribedPOI) {
  const coords = latLng(subscribedBusinessPOI.lat, subscribedBusinessPOI.lng);

  // use zoom level if greater than or 17
  await setZoom(17);
  await setCenter(coords);

  // gives the infos needed to open the popup in VBusinessMarker
  openPopUpForId.value = { id: subscribedBusinessPOI.id, coords: coords };
}

function removeMarker(subscribedBusinessPOI: SubscribedPOI) {
  removeFromWatchList(subscribedBusinessPOI, user.value);
}
function noteStatus(subscribedBusinessPOI: SubscribedPOI) {
  if (subscribedBusinessPOI.noteIsResolved) {
    return t("landing.watchlist.icon.noteResolved");
  }
  if (subscribedBusinessPOI.noteId === null) {
    return t("landing.watchlist.icon.noteNull");
  }
  return t("landing.watchlist.icon.notePending");
}
function updateStatus(subscribedBusinessPOI: SubscribedPOI) {
  if (subscribedBusinessPOI.hasUpdate) {
    return t("landing.watchlist.icon.updateDetected");
  }
  return t("landing.watchlist.icon.updatePending");
}
function getUpdate(): void {
  loadUpdates(user.value!.id, user.value!.name);
}
</script>

<template>
  <div class="watchlist-wrapper" v-if="showWatchList">
    <div class="watchlist-title">
      <div>
        {{ $t("landing.watchlist.title") }}
      </div>
      <div>
        <img
          class="info"
          @mouseenter="showPopup($t('landing.watchlist.info'))"
          @mouseleave="hidePopup()"
          src="../../assets/info_black.png"
        />
      </div>
      <div class="flex-filler"></div>
      <div
        :title="$t('landing.watchlist.icon.refresh')"
        @click="getUpdate"
        class="watchlist-title-icon"
      >
        <font-awesome-icon icon="sync" size="1.2x" />
      </div>
      <div
        :title="$t('landing.watchlist.close')"
        @click="showWatchList = false"
        class="watchlist-title-icon"
      >
        <font-awesome-icon icon="close" size="1.2x" />
      </div>
    </div>
    <div
      class="watchlist"
      v-for="(subscribedBusinessPOI, index) in subscribedBusinessPOIs"
      :key="index"
    >
      <div class="watchlist-index">
        {{ index + 1 }}
      </div>
      <div class="watchlist-name" @click="panToMarker(subscribedBusinessPOI)">
        <span v-if="subscribedBusinessPOI.tags.name">
          {{ subscribedBusinessPOI.tags.name }}
        </span>
        <span v-else> Name not found </span>
      </div>
      <div class="watchlist-icons" :title="noteStatus(subscribedBusinessPOI)">
        <img :src="subscribedBusinessPOI.noteIsResolved ? noteGreen : note" />
      </div>
      <div class="watchlist-icons" :title="updateStatus(subscribedBusinessPOI)">
        <img :src="subscribedBusinessPOI.hasUpdate ? updateGreen : update" />
      </div>
      <div
        class="watchlist-icons action"
        :title="$t('landing.watchlist.icon.close')"
        @click="removeMarker(subscribedBusinessPOI)"
      >
        <font-awesome-icon class="close" icon="times" />
      </div>
      <span
        v-for="(warning, index) in subscribedBusinessPOI.warnings"
        :key="index"
        class="watchlist-warning"
      >
        - {{ t(warning) }}
      </span>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.close {
  color: $error-color;
}

.watchlist-index {
  padding-right: 7px;
  font-weight: bold;
}

.watchlist-name {
  border-bottom: dashed 1px $primary-color;
  font-weight: bold;
}

.watchlist-name:hover {
  background-color: rgba(126, 188, 111, 0.71);
  cursor: pointer;
}

.watchlist-name span {
  word-break: break-word;
}

.watchlist-wrapper {
  position: fixed;
  z-index: 99;
  bottom: 24px;
  top: 55px;
  right: 10px;
  left: 10px;
  font-size: 14px;
  background-color: white;
  border: 2px solid $primary-color;
  padding: 12px;
  overflow-y: auto;
}

@media (min-width: 750px) {
  .watchlist-wrapper {
    bottom: 110px;
    left: auto;
    top: 125px;
    right: 24px;
    width: 250px;
  }
}

.watchlist-title {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border-bottom: #006600;
}

.flex-filler {
  flex: 1 1 auto;
}

.watchlist-title-icon {
  cursor: pointer;
  padding: 5px;
}

.watchlist {
  margin-top: 12px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
}

.watchlist img {
  width: 12px;
  height: 16px;
}

.watchlist-warning {
  grid-column-start: 2;
  grid-column-end: 5;
}

.watchlist-icons {
  padding-left: 7px;
}

.watchlist-icons:hover {
  opacity: 0.5;
}

.watchlist-icons.action:hover {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 12px;
}
</style>
