<script setup lang="ts">
import { useLandingStore } from "../../stores/landing";

const landingStore = useLandingStore();
let hasZoomedInYet = localStorage.getItem("hasZoomedInYet") === "true";

function showZoomInBubble() {
    if (hasZoomedInYet) {
        return false;
    }
    
    if (landingStore.mapZoom >= 17) {
        hasZoomedInYet = true;
        localStorage.setItem("hasZoomedInYet", "true")
        return false;
    }

    return true

}
</script>

<template>
  <span v-if="showZoomInBubble()" class="zoominbubble">
    {{ $t("landing.help.zoomInBubble") }}
  </span>
</template>

<style scoped>
.zoominbubble {
  position: absolute;
  opacity: 0.7;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 4px black;
}
</style>
