<script setup lang="ts">
import { useWarningStore } from "../../stores/warning";
import { storeToRefs } from "pinia";

const warningStore = useWarningStore();
const { isConfirm } = storeToRefs(warningStore);

function toggle() {
  isConfirm.value = !isConfirm.value;
}

function confirm() {
  isConfirm.value = false;
}
</script>
<template>
  <div class="dialog message-dialog" id="confirm-dialog" v-if="isConfirm">
    <div class="close-button" @click="toggle">
      <font-awesome-icon icon="['fa', 'window-close']" class="fa-xl"/>
    </div>

    <div class="dialog-title">
      {{ $t("warning.confirm.title") }}
    </div>

    <div class="section">
      {{ $t("warning.confirm.section") }}
    </div>

    <div class="confirm-buttons">
      <button class="no-button" @click="toggle">
        {{ $t("warning.confirm.no") }}
      </button>
      <button class="yes-button" @click="confirm">
        {{ $t("warning.confirm.yes") }}
      </button>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

#confirm-dialog {
  top: 45%;
  border: 2px solid $error-color;
}

.confirm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-button {
  width: 30%;
}

.yes-button {
  width: 30%;
  background-color: $error-color;
  border: none;
}

.yes-button:hover {
  background-color: $error-color;
  color: white;
}
</style>
