<script lang="ts" setup>
// todo check and implement veevalidate correctly on form before used VeeValidate from "vee-validate";, now hopefully just with type
// todo check error object, where from and how implement now
import * as _ from "lodash";
import {useLandingStore} from "../../stores/landing";
import {useDetailStore} from "../../stores/detail";
import {parseOpeningHoursString} from "../../util/openingHoursParser";
import ModalOpeningHours from "./ModalOpeningHours.vue";

// get from store...
import isURL from "../../util/converter";
import {storeToRefs} from "pinia";
import {useI18n} from "vue-i18n";
import { ref, computed, onMounted, onUnmounted } from "vue";
import { useAuthStore } from "../../stores/auth";
import { useUserdialogStore } from "../../stores/userdialog";
import { useRouter } from "vue-router";


//  document.getElementById('openingHoursURL').addEventListener('blur', printTest, false);
const detailStore = useDetailStore();
const landingStore = useLandingStore();

const authStore = useAuthStore();
const userdialogStore = useUserdialogStore();
const { isLoggedIn } = storeToRefs(authStore);
const { clearSuccessMessage, displayUnsavedChangesNotification } =
  userdialogStore;
const {applyOffset} = storeToRefs(landingStore);
const {showPopup, hidePopup} = detailStore;
const {t} = useI18n();

const showModalOpeningHours = ref(false);

const wheelchairOptions: Array<{ value: string; text: string }> = [
  {value: "yes", text: t("detail.labels.yes")},
  {value: "limited", text: t("detail.labels.limited")},
  {value: "no", text: t("detail.labels.no")},
];

const { isFormSubmission, currentBPOI, isEditingUnsavedChanges } =
  storeToRefs(detailStore);
const { isNotModified, getAddress, saveChangesTemporarily, resetDetailState } =
  detailStore;

const { displayUnsavedChangesNotifications } = storeToRefs(userdialogStore);
const isModifiedAndNotSubmited = computed(() => {
  return !isNotModified() && !isFormSubmission.value;
});

onMounted(() => {
  if (_.isEmpty(currentBPOI.value.position) || !isLoggedIn.value) {
    const router = useRouter();
    router.push("/");
  }
  if (!isEditingUnsavedChanges.value) {
    getAddress(currentBPOI.value.position);
    displayUnsavedChangesNotifications.value = false;
    clearSuccessMessage();

    localStorage.setItem("details", JSON.stringify(currentBPOI.value.details));
    currentBPOI.value.isNew = !currentBPOI.value.isNote;
  }

  applyOffset.value = true;

  currentBPOI.value.details.opening_hours_template = parseOpeningHoursString(currentBPOI.value.details.opening_hours);
  currentBPOI.value.details.opening_hours_template![0].labeling = t("detail.labels.opening_hours_days.monday");
  currentBPOI.value.details.opening_hours_template![1].labeling = t("detail.labels.opening_hours_days.tuesday");
  currentBPOI.value.details.opening_hours_template![2].labeling = t("detail.labels.opening_hours_days.wednesday");
  currentBPOI.value.details.opening_hours_template![3].labeling = t("detail.labels.opening_hours_days.thursday");
  currentBPOI.value.details.opening_hours_template![4].labeling = t("detail.labels.opening_hours_days.friday");
  currentBPOI.value.details.opening_hours_template![5].labeling = t("detail.labels.opening_hours_days.saturday");
  currentBPOI.value.details.opening_hours_template![6].labeling = t("detail.labels.opening_hours_days.sunday");
  currentBPOI.value.details.opening_hours_template![7].labeling = t("detail.labels.opening_hours_days.publicHolidays");
});

onUnmounted(() => {
  if (isModifiedAndNotSubmited.value) {
    saveChangesTemporarily();
    displayUnsavedChangesNotification();
  } else {
    displayUnsavedChangesNotifications.value = false;
  }
  resetDetailState();
});

const errors: {
  [key: string]: any;
  website_opening_hours: boolean;
  email: boolean;
  website: boolean;
} = {
  website_opening_hours: false,
  email: false,
  website: false,
};

function blurOpeningHours() {
  const url = (document.getElementById("openingHoursURL") as HTMLInputElement)
      .value;
  // getting the value works, now make the handling async.
  // const result = isURL(input); https://www.casaferlin.ch/en
  if (
      (document.getElementById("openingHoursTime") as HTMLInputElement).value ===
      "" &&
      url !== ""
  ) {
    isURL(url);
  }
}

function errorExists(error: string): boolean {
  return errors[error];
}

</script>

<template>
  <div class="form-wrapper">
    <h3>{{ $t("detail.titles.title") }}</h3>

    <div class="form-fields">
      <div class="column">
        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.name") }}*</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.name'))"
                @mouseleave="hidePopup()"
            />
          </div>
          <input
              v-model="currentBPOI.details.name"
              :placeholder="$t('detail.placeholders.name')"
              name="name"
              type="text"
          />

          <span v-show="currentBPOI.details.name === ''" class="help is-danger">
            {{ $t("detail.validate.required") }}
          </span>
        </div>

        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.opening_hours") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.opening_hours'))"
                @mouseleave="hidePopup()"
            />
          </div>

          <input
              id="openingHoursTime"
              v-model="currentBPOI.details.opening_hours"
              :placeholder="$t('detail.placeholders.opening_hours')"
              type="text"
              @click="showModalOpeningHours = true"
              autocomplete="off"
          />
        </div>

        <Teleport to="#app">
          <!-- use the modal component, pass in the prop -->
          <modalOpeningHours :show="showModalOpeningHours" @close="showModalOpeningHours = false">
            <template #header>
              <h3>{{ $t("detail.labels.opening_hours") }}</h3>
            </template>
          </modalOpeningHours>
        </Teleport>

        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.opening_hours_url") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.opening_hours_url'))"
                @mouseleave="hidePopup()"
            />
          </div>

          <input
              id="openingHoursURL"
              v-model="currentBPOI.details.opening_url"
              :class="{ 'is-error': errorExists('website_opening_hours') }"
              :placeholder="$t('detail.placeholders.opening_hours_url')"
              name="website_opening_hours"
              type="url"
              v-on:blur="blurOpeningHours()"
          />

          <span
              v-show="errorExists('website_opening_hours')"
              class="help is-danger"
          >
            {{ $t("detail.validate.website") }}
          </span>
        </div>

        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.phone") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.phone'))"
                @mouseleave="hidePopup()"
            />
          </div>
          <input
              v-model="currentBPOI.details.phone"
              :placeholder="$t('detail.placeholders.phone')"
              type="text"
          />
        </div>

        <div :class="{ control: true }" class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.email") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.email'))"
                @mouseleave="hidePopup()"
            />
          </div>

          <input
              v-model="currentBPOI.details.email"
              :class="{ 'is-error': errorExists('email') }"
              name="email"
              placeholder="test@test.ch"
              type="email"
          />
          <!-- https://stackoverflow.com/questions/65416927/vue-3-i18n-issue-the-message-format-compilation-is-not-supported-in-this-build
           :placeholder="$t('detail.placeholders.email')" displays annoying errors, temp disabled -->
          <span v-show="errorExists('email')" class="help is-danger">
            {{ $t("detail.validate.email") }}
          </span>
        </div>

        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.website") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.website'))"
                @mouseleave="hidePopup()"
            />
          </div>

          <input
              v-model="currentBPOI.details.website"
              :class="{ 'is-error': errorExists('website') }"
              :placeholder="$t('detail.placeholders.website')"
              name="website"
              type="url"
          />

          <span v-show="errorExists('website')" class="help is-danger">
            {{ $t("detail.validate.website") }}
          </span>
        </div>

        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.wheelchair") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.wheelchair'))"
                @mouseleave="hidePopup()"
            />
          </div>
          <!-- have to use reduce to only receive the value, but parsing error, works though :D -->
          <v-select
              v-model="currentBPOI.details.wheelchair"
              :options="wheelchairOptions"
              :reduce="(option: any) => option.value"
              :selected-option="currentBPOI.details.wheelchair"
              class="wheelchair-select"
              label="text"
          >
          </v-select>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.description") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.description'))"
                @mouseleave="hidePopup()"
            />
          </div>

          <textarea
              v-model="currentBPOI.details.description"
              :placeholder="$t('detail.placeholders.description')"
              class="area"
          ></textarea>
        </div>

        <div class="field">
          <div class="field-label">
            <label>{{ $t("detail.labels.note") }}</label>
            <img
                class="info"
                src="../../assets/info_black.png"
                @mouseenter="showPopup($t('infoTexts.note'))"
                @mouseleave="hidePopup()"
            />
          </div>

          <textarea
              v-model="currentBPOI.details.note"
              :placeholder="$t('detail.placeholders.note')"
              class="area"
          ></textarea>
        </div>
      </div>
    </div>

    
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.area {
  flex-grow: 1;
}

.checkboxes {
  display: flex;
  flex-direction: row;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.checkbox,
.radiobutton {
  height: 44px;
  width: 24px;
}

textarea {
  resize: none;
}

.field .wheelchair-select span {
  color: black;
}

h3,
h5 {
  text-align: left;
}

.form-fields {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
}

.column {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

@media (min-width: 750px) {
  .column {
    width: 49%;
  }

  .form-fields {
    flex-flow: row;
  }
}
</style>
