<script setup lang="ts">
import { computed } from "vue";
import type { Ref } from "vue";

const props = defineProps(["field"]);

type CategoryField = {
  key: string;
  label: string;
  type: string;
  value: string | number;
  options?: Array<{ key: string; text: string }>;
};

// to not directly manipulate the prop, is per reference though and will change the data in the store accordingly
const categoryField: Ref<CategoryField> = computed(() => {
  return props.field;
});

function checkboxChangeEvent(event: any) {
  categoryField.value.value =
    getKeyByValue(checkboxMapping, event.target.checked) || "";
}

function selectChangeEvent(event: any) {
  categoryField.value.value = event.target.value || "";
}

// todo; have to test with an element that has this time, if it's a value per option or value for the full field
function multiCheckboxChangeEvent(event: any) {
  categoryField.value.value = event.target.value;
}

const checkboxMapping: { [key: string]: any } = { yes: true, no: false };
// as osm field often return 'yes'/'no' and have to converet into true/false
const getBoolishValue = computed(() => {
  return checkboxMapping[categoryField.value.value];
});
function getKeyByValue(object: { [key: string]: any }, value: any) {
  return Object.keys(object).find((key) => object[key] === value);
}

function checkType() {
  if (categoryField.value.type === "radio") {
    return "combo";
  }
  if (
    props.field.type === "text" ||
    props.field.type === "check" ||
    props.field.type === "number" ||
    props.field.type === "combo"
  ) {
    return props.field.type;
  }
  return "text";
}
</script>
<template>
  <div class="extrainput-wrapper">
    <input
      v-if="checkType() === 'text'"
      type="text"
      v-model="categoryField.value"
    />
    <input
      v-if="checkType() === 'number'"
      type="number"
      v-model="categoryField.value"
    />
    <div v-if="checkType() === 'check'">
      <div v-if="categoryField.options?.length !== 0">
        <div
          v-for="option in categoryField.options"
          :key="option.key"
          class="checkbox-wrapper"
        >
          <label>{{ option.text }}</label>
          <input
            type="checkbox"
            class="checkbox"
            v-model="getBoolishValue"
            @input="multiCheckboxChangeEvent($event)"
          />
        </div>
      </div>
      <div v-else class="checkbox-wrapper">
        <input
          type="checkbox"
          class="checkbox"
          v-model="getBoolishValue"
          @input="checkboxChangeEvent"
        />
      </div>
    </div>
    <select
      v-if="checkType() === 'combo'"
      v-model="categoryField.value"
      class="extra-select"
      @input="selectChangeEvent"
    >
      <option></option>
      <option
        v-for="option in categoryField.options"
        v-bind:value="option.key"
        :key="option.key"
      >
        {{ option.text }}
      </option>
    </select>
  </div>
</template>

<style lang="scss" scoped>
.extrainput-wrapper {
  display: flex;
  justify-content: stretch;
}

.extra-select {
  margin: 0;
}
</style>
