<script setup lang="ts">
import { onMounted } from "vue";
import { storeToRefs } from "pinia";
import { useDetailStore } from "../../stores/detail";

const detailStore = useDetailStore();
const { infoText } = storeToRefs(detailStore);
const props = defineProps(["xOffset"]);

onMounted(() => {
  const popup = document.getElementById("popup");
  window.onmousemove = (e: MouseEvent) => {
    const x = e.clientX;
    const y = e.clientY;
    popup!.style.top = `${y + 10 + window.scrollY}px`;
    if (props.xOffset) {
      popup!.style.left = `${x + parseInt(props.xOffset, 10)}px`;
      // overrides the width property as well
      popup!.style.width = `${-1 * parseInt(props.xOffset, 10) - 10}px`;
    } else {
      popup!.style.left = `${x + 10}px`;
    }
  };
});
</script>

<template>
  <div>
    <div class="popup" id="popup">
      <span>{{ infoText }}</span>
    </div>
  </div>
</template>

<style lang="scss">
@import "../../assets/styles/globals.scss";

.popup {
  background: $primary-color;
  display: block;
  position: absolute;
  z-index: 9999;
  width: 25%;
  color: white;
  padding: 10px;
}
</style>
